@charset "UTF-O8";

* {
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%;
  transition: transform 0.4s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
  margin: 0px 520px 10px 10px;
}

